/* MyPage.css */

.mypage-container {
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
